@chaarset "utf-8";

/* body */

body {
  width: 1366px;
}

/* header */

.navi-box{
  width: 1350px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-block{
  width: 1350px;
  height: 132px;
}

.header-logo{
  width: 381px;
  height: 80px;
  margin-right: auto;
  background-image: url(../images/header_logo.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.navi-box{
  display: flex;
  justify-content: space-between;
}

.navi-about{
  font-size: 21px;
  padding: 50px;
}

.navi-course{
  font-size: 21px;
  padding: 50px;
}

.navi-news{
  font-size: 21px;
  padding: 50px;
}

.navi-access{
  font-size: 21px;
  padding: 50px;
}

.navi-contact{
  font-size: 21px;
  padding: 50px;
}

/* メインビジュアル */

.main {
  width: 1365px;
  height: 500px;
  background-image: url(../images/mainbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  margin: auto;
}

.main-title {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.main-text {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

/* About */

.about-box{
  text-align: center;
}

.about-title {
  color: #ffd61a;
  margin-top: 60px;
  margin-bottom: 30px;
}

.about-subtitle{
  margin-top: 30px;
  margin-bottom: 60px;
}

.about-text1{
  margin-top: 60px;
  margin-bottom: 40px;
}

.about-text2{
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-text3{
  margin-top: 40px;
  margin-bottom: 80px;
}

/* about pictures */

.about-pictures {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.about-picture1 {
  width: 385px;
  height: 255px;
  background-image: url(../images/about_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-picture2 {
  width: 385px;
  height: 255px;
  background-image: url(../images/about_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-picture3 {
  width: 385px;
  height: 255px;
  background-image: url(../images/about_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-picture4 {
  width: 385px;
  height: 255px;
  background-image: url(../images/about_04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Course */

.course-box-top{
  text-align: center;
}

.course-title {
  color: #222222;
  margin-top: 60px;
  margin-bottom: 30px;
}

.course-text1{
  margin-top: 30px;
  margin-bottom: 60px;
}

/* course pictures and text */

.course-box-body{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.couse-box-body1{
  width: 682px;
  height: 462px;
  background-image: url(../images/course_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.couse-box-body2{
  width: 682px;
  height: 462px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

.couse-box-body2-text{
  width: 430px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.couse-box-body3{
  width: 682px;
  height: 462px;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.couse-box-body3-text{
  width: 430px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.couse-box-body4{
  width: 682px;
  height: 462px;
  background-image: url(../images/course_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.couse-box-body5{
  width: 682px;
  height: 462px;
  background-image: url(../images/course_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.couse-box-body6{
  width: 682px;
  height: 462px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

.couse-box-body6-text{
  width: 430px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

/* NEWS */

.news-title-box{
  text-align: center;
}

.news-title {
  color: #ffd61a;
  margin-top: 60px;
  margin-bottom: 30px;
}

.news-subtitle{
  margin-top: 30px;
  margin-bottom: 60px;
}

/* news pictures and text */

.news-box{
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.news-subbox1{
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

.news-subbox1:hover{
    border: solid 1px #f00;
}

.news-subbox1-up{
  width: 300px;
  height: 200px;
  background-image: url(../images/news_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news-date1{
  margin-top: 30px;
  margin-bottom: 24px;
}

.news-subbox2{
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

.news-subbox2:hover{
    border: solid 1px #f00;
}

.news-subbox2-up{
  width: 300px;
  height: 200px;
  background-image: url(../images/news_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news-date2{
  margin-top: 30px;
  margin-bottom: 24px;
}

.news-subbox3{
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

.news-subbox3:hover{
    border: solid 1px #f00;
}

.news-subbox3-up{
  width: 300px;
  height: 200px;
  background-image: url(../images/news_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news-date3{
  margin-top: 30px;
  margin-bottom: 24px;
}

/* news more button */

.news-more-box{
  display: flex;
  justify-content: center;
}

.news-more-button{
  width: 300px;
  height: 60px;
  font-size: 18px;
  color: #fff;
  background-color: #ffd61a;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.news-more-button:hover{
    border: solid 1px #f00;
}

.news-more-button:active{
  background-color: #ff9900;
}

/* Access */

.access{
    background-color: #fafafa;
}

.access-box{
  text-align: center;
}

.access-title {
  color: #222222;
  padding-top: 60px;
  margin: 0px auto 30px auto;
}

.access-subtitle{
  margin-top: 30px;
  margin-bottom: 60px;
}

/* access map */

.access-map{
  margin-top: 60px;
  margin-bottom: 45px;
  text-align: center;
}

/* access table */

.access-table table{
  border-spacing: 30px 15px;
}

.access-table{
  margin-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
}

.access-table tr{
  height: 50px;
  /* line-height: 48px; */
}

/* Contact */

.contact-subbox{
  text-align: center;
}

.contact-title{
  color: #222222;
  margin-top: 60px;
  margin-bottom: 30px;
}

.contact-subtitle{
  margin-top: 30px;
  margin-bottom: 60px;
}

.contact-text1{
  margin-top: 60px;
  margin-bottom: 30px;
}

.contact-text2{
  margin-top: 30px;
  margin-bottom: 70px;
}

/* contact form */

.contact-form-box{
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

/* contact form table */

.contact-table table{
  border-spacing: 0px 0px;
}

.contact-table tr{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
}

.contact-table td{
}

.form-title{
  width: 159px;
  padding-top: 8px;
  padding-right: 64px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.form-part{
  width: 383px;
  padding: 8px;
}

#name{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-left-style: none;
}

#name-text{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-right-style: none;
}

.name-input{
  width: 322px;
  height: 30px;
  color: #bfbfbf;
}

#kana{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-left-style: none;
}

#kana-text{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-right-style: none;
}

.kana-input{
  width: 322px;
  height: 30px;
  color: #bfbfbf;
}

#email{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-left-style: none;
}

#email-text{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-right-style: none;
}

.email-input{
  width: 322px;
  height: 30px;
  color: #bfbfbf;
}

#chance{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-left-style: none;
}

#chance-text{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-right-style: none;
}

.chance-select{
  width: 328px;
  height: 36px;
}

#rfa{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-left-style: none;
}

#fra-text{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-right-style: none;
}

.contact-rfa1{
  margin-bottom: 24px;
}

.contact-rfa2{
  margin-bottom: 24px;
}

.contact-rfa3{
  margin-bottom: 24px;
}

.contact-rfa4{
}

#details{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-left-style: none;
}

#details-text{
  border: solid 1px #bfbfbf;
  border-collapse: collapse;
  border-right-style: none;
}

/* contact form button */

.contact-button{
  display: flex;
  justify-content: space-around;
}

/* send button */

.contact-send{
  width: 300px;
  height: 60px;
  font-size: 18px;
  color: #fff;
  background-color: #ffd61a;
  margin-top: 30px;
  margin-bottom: 140px;
}

.contact-send:hover{
    border: solid 1px #f00;
}

.contact-send:active{
  background-color: #ff9900;
}

/* reset button */

.contact-reset{
  width: 300px;
  height: 60px;
  font-size: 18px;
  color: #fff;
  background-color: #ffd61a;
  margin-top: 30px;
  margin-bottom: 140px;
}

.contact-reset:hover{
    border: solid 1px #f00;
}

.contact-reset:active{
  background-color: #ff9900;
}

/* footer */

#footer {
  color: #fff;
  background-color: #707070
}

.copyrights{
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
